flet==0.25.2
flet-cli==0.25.2
flet-core==0.24.1
flet-desktop==0.25.2
flet-easy==0.2.7
flet-runtime==0.24.1
flet-toast==0.5.0
PyMySQL==1.1.1
python-dotenv==1.0.1
infisical_api==1.0.0
parse==1.20.1
chardet==5.2.0
loguru==0.7.2